<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
#    RewriteBase /public
    # Redirect All Requests To The Subfolder
#    RewriteRule ^ /public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
